{% layout none %}
<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ 'gift_cards.issued.title' | t }}</title>
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>
<body>
  <div class="gift-card-wrapper">
    <header>
      <h1>{{ shop.name }}</h1>
    </header>
    <main>
      <h2>{{ 'gift_cards.issued.subtext' | t }}</h2>
      <div class="gift-card-code">
        <p>{{ gift_card.code | format_code }}</p>
      </div>
      {% if gift_card.balance != gift_card.initial_value %}
        <p>{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money }}</p>
      {% endif %}
      <p>{{ 'gift_cards.issued.initial_value_html' | t: value: gift_card.initial_value | money }}</p>
      {% if gift_card.enabled %}
        {% if gift_card.expires_on %}
          <p>{{ 'gift_cards.issued.expiration_date_html' | t: expires_on: gift_card.expires_on | date: format: 'basic' }}</p>
        {% endif %}
      {% else %}
        <p>{{ 'gift_cards.issued.disabled' | t }}</p>
      {% endif %}
      <a href="{{ shop.url }}" class="cp-btn cp-btn-primary">{{ 'gift_cards.issued.shop_link' | t }}</a>
    </main>
  </div>
</body>
</html>






