<div class="container">
    <div class="container-job-aplication">
        <!-- Yönlendirme linkini butona ekledik -->
        <a href="{{ section.settings.job_app_link }}" class="job-app-button" target="_blank">{{ section.settings.button_label }} </a>
    </div>
</div>
<style>
  .container {
    margin-bottom: {{ section.settings.margin_bottom }}px;
    margin-top: {{ section.settings.margin_top }}px;
  }
  .container-job-aplication {
    text-align: center;  

  }

  .job-app-button {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }} !important;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid {{ section.settings.border_color }};
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }

  .job-app-button:hover {
    background-color: {{ section.settings.hover_bg_color }};
    color: {{ section.settings.hover_text_color }} !important;
  }

  .job-app-button:active {
    background-color: {{ section.settings.active_bg_color }};
    color: {{ section.settings.active_text_color }} !important;
  }
</style>
{% schema %}
{
  "name": "Job Application Button",
  "settings": [
    {
      "type": "url",
      "id": "job_app_link",
      "label": "Application Link",
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Start Your Application"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Button Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Button Text Color",
      "default": "#f04f36"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Button Border Color",
      "default": "#f04f36"
    },
    {
      "type": "color",
      "id": "hover_bg_color",
      "label": "Hover Background Color",
      "default": "#f04f36"
    },
    {
      "type": "color",
      "id": "hover_text_color",
      "label": "Hover Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "active_bg_color",
      "label": "Active Background Color",
      "default": "#c23e2b"
    },
    {
      "type": "color",
      "id": "active_text_color",
      "label": "Active Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 20
    }

  ],
  "presets": [
    {
      "name": "Job Application Button",
      "category": "Custom"
    }
  ]
}
{% endschema %}
