<section id="custom-category-section-{{ section.id }}" class="custom-category-section">
  <div class="accordion-wrapper">
    <input type="checkbox" id="accordion-{{ section.id }}" class="accordion-checkbox">
    <label for="accordion-{{ section.id }}" class="accordion-title">
      <h3 class="accordion-heading text-heading-{{ section.settings.heading_size }}">{{ section.settings.heading }}</h3>
      <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 15.5l-7-7h14z"></path>
      </svg>
    </label>
    <div class="accordion-content text-align-{{ section.settings.text_alignment }}">
      <p class="text">{{ section.settings.description }}</p>
    </div>
  </div>
</section>
<style>
  section.custom-category-section {
    max-width: var(--container-lg-max-width, 1260px);
    padding: var(--container-gutter, 20px);
    margin: 0 auto;
    background-color: var(--color-background, #fff);
  }

  @media (min-width: 720px) {
    section.custom-category-section {
      padding: var(--container-gutter, 15px);
    }
  }

  @media (min-width: 1024px) {
    section.custom-category-section {
      padding: var(--container-gutter, 25px);
    }
  }

  .accordion-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background, #fff);
    
  }

  .accordion-item {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-surface);
    transition: transform 0.2s ease;
  }

  .accordion-item:hover {
    background-color: var(--color-hover-background, #f5f5f5);
    transform: translateY(-2px);
  }

  .accordion-title {
    background-color: var(--color-background, #fff);
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: var(--shadow-sm, 0 2px 4px rgba(0, 0, 0, 0.1));
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2rem;
      
  }
  .accordion-heading {
    font-family: var(--heading-font-family, 'Arial, sans-serif');
    font-weight: var(--heading-font-weight, 700);
    letter-spacing: var(--heading-letter-spacing, 0.05em);
    text-transform: var(--heading-text-transform, none);
    color: var(--color-text, #333);
  }
  
   .accordion-heading.text-heading-small {
    font-size: var(--font-size-heading-4, 1.25rem);
    line-height: 1.4;
  }
  
  /* Medium Heading */
  .accordion-heading.text-heading-medium {
    font-size: var(--font-size-heading-3, 1.5rem);
    line-height: 1.4;
  }
  
  /* Large Heading */
  .accordion-heading.text-heading-large {
    font-size: var(--font-size-heading-1, 2rem);
    line-height: 1.2;
  }
  

  @media (max-width: 768px) {
    .accordion-title {
      font-size: var(--text-h4, 1.125rem);
    }
  }
  
  @media (min-width: 1024px) {
    .accordion-title {
      font-size: var(--text-h2, 1.75rem);
    }
  }

  .accordion-title:hover {
    background-color: var(--color-button-hover, #d4d4d4);
  }

  .accordion-checkbox:checked + .accordion-title {
      background-color: var(--color-button-hover, #cfcfcf);
      box-shadow: var(--shadow-md, 0 6px 12px rgba(0, 0, 0, 0.3));
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    color: var(--color-text, #333);
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow-y: hidden;
    line-height: 1.6;
    padding: 1rem;
  }
 
   .accordion-content p {
    font-size: var(--text-base, 1rem);
    font-family: var(--text-font-family, ' Arial, sans-serif');
    font-weight: var(--text-font-weight, 400);
    letter-spacing: var(--text-letter-spacing, 0.05em);
    color: var(--color-text, #333);
  }

  @media (max-width: 768px) {
    .accordion-content {
      font-size: var(--text-sm, 0.875rem);
    }
  }
  
  @media (min-width: 1024px) {
    .accordion-content {
      font-size: var(--text-lg, 1.125rem);
    }
  }
  

  @media (max-width: 768px) {
    .accordion-content {
      font-size: var(--text-sm, 0.875rem);
    }
  }
  
  @media (min-width: 1024px) {
    .accordion-content {
      font-size: var(--text-lg, 1.125rem);
    }
  }

  .accordion-checkbox {
    display: none;
  }

  .accordion-checkbox:checked + .accordion-title + .accordion-content {
    height: auto;
    opacity: 1;
    overflow-y: auto;
    max-height: 600px;
  }

  .accordion-content::-webkit-scrollbar {
    width: 6px;
  }

  .accordion-content::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb, #ccc);
    border-radius: 3px;
  }
   .accordion-content.text-align-left {
  text-align: left;
  }
  .accordion-content.text-align-center {
    text-align: center;
  }
  .accordion-content.text-align-right {
    text-align: right;
  }
</style>

{% schema %}
{
  "name": "Custom Accordion Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.accordion_rich_text.title.label",
      "default": "Click to open"
    },
    {
      "type": "richtext",
      "id": "description",
      "label":"t:sections.accordion_rich_text.text.label",
      "default": "<p>This is the content that will be shown when you click on the title.</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.accordion_rich_text.heading_size.label",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "t:sections.accordion_rich_text.text_alignment.label",
      "default": "left"
      
    }
  ],
  "presets": [
    {
      "name": "Accordion Rich Text",
      "category": "Text"
    }
  ]
}
{% endschema %}
