{% assign shops_configuration_theme_config = shop.metafields.singleton_discounts.shops_configuration_theme_config.value %}
{% assign show_discounted_prices = shops_configuration_theme_config.show_discounted_prices | plus: 0 %}
{% if show_discounted_prices == 1 %}
    <style>
        {{shops_configuration_theme_config.discounted_prices_DOM_elements}}{display:block;}
        {{shops_configuration_theme_config.product_detail_discounted_price_DOM}}{display:block;}
    </style>
    {% if template.name != "cart" and template.name != "checkout" %}
        <div class="hideDiscountedPricesStyles">
            <style>
                {{shops_configuration_theme_config.discounted_prices_DOM_elements}}{display:none;}
                {{shops_configuration_theme_config.product_detail_discounted_price_DOM}}{display:none;}
            </style>
        </div>
    {% endif %}
{% endif %}

<script type="text/javascript">
    var wd_customers_discount_ids = [];
    var wd_products_discount_ids = [];
    var wd_products_collections_gids = [];
    var wd_product_has_some_not_compare_at_price = false;
    var wd_logged_in_customer = false;
    var wd_customer_tags = [];
    var wd_customer_orders_count = 0;
    var wd_is_cart_page = false;
    var wd_is_product_page = false;
    var wd_product_exist = false;
    var wd_product_variants = [];
    var wd_product = {};
    {% if template.name == "product" %}
        var wd_product_exist = true;
        var wd_product = {'id':'{{product.id}}','price':'{{product.selected_or_first_available_variant.price}}','variants':[{'id':'{{product.selected_or_first_available_variant.id}}','compare_at_price':'{{product.selected_or_first_available_variant.compare_at_price|times:1}}'}]};
        {% for variant in product.variants %}
            wd_product_variants.push({'id':'{{product.id}}','id_variant':'{{variant.id}}','price':'{{variant.price}}','variants':[{'id':'{{variant.id}}','compare_at_price':'{{variant.compare_at_price|times:1}}'}]});
        {% endfor %}
    {% endif %}
    {% if customer %}
        wd_logged_in_customer = true;
        var wd_customer_tags = JSON.parse(JSON.stringify({{ customer.tags | json }}));
        wd_customer_orders_count = parseInt('{{ customer.orders_count }}');
        {% if customer.metafields.singleton_discounts.discount_ids %}
            wd_customers_discount_ids = {{ customer.metafields.singleton_discounts.discount_ids }};
        {% endif %}
    {% endif %}
    {% if product %}
        var wd_product_handle = '{{product.handle}}';
        {% if product.metafields.singleton_discounts.discount_ids %}
            wd_products_discount_ids = {{ product.metafields.singleton_discounts.discount_ids }}
        {% endif %}
        {% for collection in product.collections %}
            wd_products_collections_gids.push("gid://shopify/Collection/{{ collection.id }}");
        {% endfor %}
        {% for variant in product.variants %}
            {% if variant.compare_at_price == null %}
                wd_product_has_some_not_compare_at_price = true;
            {% endif %}
        {% endfor %}
        wd_is_product_page = true;
    {% endif %}
    {% if template.name == "cart" %}
        wd_is_cart_page = true;
    {% endif %}
    var wd_money_format = "{{shop.money_format|strip_html}}";
    var wd_money_with_currency_format = "{{shop.money_with_currency_format|strip_html}}";
    var wd_shops_configuration_theme_config = undefined;
    {% if shop.metafields.singleton_discounts.shops_configuration_theme_config %}
        wd_shops_configuration_theme_config = {{shop.metafields.singleton_discounts.shops_configuration_theme_config}};
    {% endif %}
    var wd_customers_discounts_theme_config = undefined;
    {% if shop.metafields.singleton_discounts.customers_discounts_theme_config %}
        wd_customers_discounts_theme_config = {{shop.metafields.singleton_discounts.customers_discounts_theme_config}};
    {% endif %}

    var wd_collections_products_ids = {};
    {% for customers_discount_config in shop.metafields.singleton_discounts.customers_discounts_theme_config.value %}
        {% for allowed_collections in customers_discount_config.allowed_collections %}
            wd_collections_products_ids['{{allowed_collections.handle}}'] = [];
        {% endfor %}
    {% endfor %}
    {% for customers_discount_config in shop.metafields.singleton_discounts.customers_discounts_theme_config.value %}
        {% for allowed_collections in customers_discount_config.allowed_collections %}
            {% paginate collections[allowed_collections.handle].products by collections[allowed_collections.handle].products_count %}
                {% for product in collections[allowed_collections.handle].products %}
                    wd_collections_products_ids['{{allowed_collections.handle}}'].push(parseInt('{{product.id}}'));
                {% endfor %}
            {% endpaginate %}
        {% endfor %}
    {% endfor %}
    {% if collection %}
        {% for product in collection.products %}
            {% for product_collection in product.collections %}
                if (typeof wd_collections_products_ids['{{ product_collection.handle }}'] !== 'undefined') {
                    if (!wd_collections_products_ids['{{ product_collection.handle }}'].includes(parseInt('{{ product.id }}'))) {
                        wd_collections_products_ids['{{ product_collection.handle }}'].push(parseInt('{{product.id}}'));
                    }
                }
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% if search %}
        {% for item in search.results %}
            {% if item.object_type == 'product' -%}
                {% for product_collection in item.collections %}
                    if (typeof wd_collections_products_ids['{{ product_collection.handle }}'] !== 'undefined') {
                        if (!wd_collections_products_ids['{{ product_collection.handle }}'].includes(parseInt('{{ item.id }}'))) {
                            wd_collections_products_ids['{{ product_collection.handle }}'].push(parseInt('{{item.id}}'));
                        }
                    }
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
</script>
<style>
    .wdVolumeDiscountWidgetModel, .volumeDiscountListWidgetModel {
        display: none;
    }
    .wdVolumeDiscountListWidget {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .wdVolumeDiscountListWidget ul {
        list-style: none;
        display: inline;
    }
    .wdVolumeDiscountWidget th, .wdVolumeDiscountWidget td {
        padding: 10px 15px 10px 15px;
        width: 50%;
    }
    .wdVolumeDiscountWidget, .wdVolumeDiscountWidgetCartWrapper, #wdVolumeDiscountWidgetProductWrapper {
        margin: 0 auto;
    }

    .wdVolumeDiscountWidget table {
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid black;
        border-spacing: 0;
        border-collapse: separate;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }

    .wdVolumeDiscountWidget table thead {
        text-align: left;
    }

    /* Apply a border to the right of all but the last column */
    .wdVolumeDiscountWidget table th:not(:last-child),
    .wdVolumeDiscountWidget table td:not(:last-child),
    .wdVolumeDiscountWidget table tr:not(:last-child){
        border-right: 1px solid black;
    }

    .wdVolumeDiscountWidget table > tbody > tr:first-child > td {
        border-top: 1px solid black;
    }

    /* Apply a border to the bottom of all but the last row */
    .wdVolumeDiscountWidget table>thead>tr:not(:last-child)>th,
    .wdVolumeDiscountWidget table>thead>tr:not(:last-child)>td,
    .wdVolumeDiscountWidget table>tbody>tr:not(:last-child)>th,
    .wdVolumeDiscountWidget table>tbody>tr:not(:last-child)>td,
    .wdVolumeDiscountWidget table>tfoot>tr:not(:last-child)>th,
    .wdVolumeDiscountWidget table>tfoot>tr:not(:last-child)>td,
    .wdVolumeDiscountWidget table>tr:not(:last-child)>td,
    .wdVolumeDiscountWidget table>tr:not(:last-child)>th,
    .wdVolumeDiscountWidget table>thead:not(:last-child),
    .wdVolumeDiscountWidget table>tbody:not(:last-child),
    .wdVolumeDiscountWidget table>tfoot:not(:last-child) {
        border-bottom: 1px solid black;
    }

    .volumeDiscountDesc {
        width: 85%;
        margin: 15px auto;
        text-align: center;
        font-size: 14px;
    }

    .notificationBar {
        width: 99.9%;
        z-index: 9999;
        padding: 10px;
        margin: 20px 1px;
    }
    .notificationBar.top,.notificationBar.bottom {
        position: fixed;
        margin: 1px;
    }
    .notificationBarClose {
        cursor: pointer;
        padding: 0 15px;
        color: black;
    }
    .notificationBar.top .notificationBarClose,.notificationBar.bottom .notificationBarClose {
        position:absolute;
        right: 0;
    }
    .notificationBar.cart_top .notificationBarClose, .notificationBar.cart_bottom .notificationBarClose {
        position:relative;
        float:right;
    }
    .notificationBar.top {
        top: 0;
    }
    .notificationBar.bottom {
        bottom: 0;
    }
</style>
<div class="wdVolumeDiscountWidgetModel" style="padding-top: 20px; padding-bottom: 20px; margin-top: 20px;">
    <table>
        <thead>
            <tr>
                <th>
                    <span class="minimumTitle">Minimum quantity</span>
                </th>
                <th>
                    <span class="discountTitle">Discount</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>Buy 2 +</span>
                </td>
                <td>
                    <span>Get 10% discount</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="volumeDiscountListWidgetModel">
    <ul>
        <li>Buy 2 +, Get 10% discount</li>
    </ul>
</div>

<div id="wdDiscountIcon1" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512 512">
        <g>
            <g>
                <path d="M498.957,218.293c-4.508-5.754-6.028-13.392-4.065-20.431c7.573-27.168-4.294-55.819-28.86-69.673
                    c-6.365-3.591-10.692-10.066-11.572-17.322c-3.401-27.997-25.329-49.925-53.326-53.326c-7.256-0.882-13.73-5.208-17.322-11.574
                    c-10.824-19.188-31.229-31.109-53.254-31.109c-12.389,0-16.101,3.097-22.615,3.097c-5.138,0-10.193-1.744-14.237-4.912
                    C282.996,4.654,269.606,0.033,256,0.033s-26.998,4.621-37.708,13.011c-4.043,3.167-9.099,4.911-14.236,4.911
                    c-6.463,0-10.317-3.097-22.615-3.097c-22.025,0-42.43,11.92-53.255,31.11c-3.59,6.365-10.064,10.692-17.32,11.572
                    C82.869,60.942,60.94,82.869,57.54,110.867c-0.88,7.254-5.207,13.73-11.572,17.32c-24.565,13.856-36.432,42.507-28.86,69.673
                    c1.963,7.041,0.444,14.679-4.065,20.432c-17.39,22.201-17.39,53.212,0,75.413c4.508,5.754,6.028,13.392,4.065,20.431
                    c-7.573,27.168,4.294,55.819,28.86,69.673c6.365,3.591,10.692,10.066,11.572,17.321c3.401,27.997,25.329,49.925,53.326,53.326
                    c7.256,0.882,13.73,5.207,17.321,11.574c10.824,19.188,31.229,31.109,53.254,31.109c12.346,0,16.124-3.098,22.615-3.098
                    c5.138,0,10.193,1.744,14.238,4.913c10.71,8.391,24.101,13.011,37.707,13.011s26.998-4.621,37.708-13.011
                    c4.043-3.167,9.099-4.911,14.236-4.911c6.463,0,10.323,3.099,22.616,3.097c22.025-0.001,42.43-11.922,53.254-31.11
                    c3.589-6.365,10.064-10.692,17.32-11.572c27.997-3.401,49.925-25.329,53.326-53.327c0.88-7.254,5.207-13.73,11.572-17.32
                    c24.565-13.856,36.432-42.507,28.86-69.673c-1.963-7.041-0.444-14.679,4.065-20.432
                    C516.348,271.505,516.348,240.495,498.957,218.293z M472.365,272.877c-11.102,14.172-14.846,32.988-10.012,50.332
                    c3.389,12.159-1.922,24.982-12.917,31.183c-15.683,8.845-26.341,24.797-28.51,42.669c-1.522,12.531-11.336,22.344-23.867,23.867
                    c-17.873,2.171-33.824,12.829-42.669,28.51c-4.846,8.589-13.979,13.926-23.835,13.926c-7.659,0-10.38-3.097-22.613-3.097
                    c-12.654,0-25.109,4.298-35.068,12.101c-4.863,3.809-10.7,5.823-16.877,5.823c-6.177,0-12.014-2.014-16.876-5.822
                    c-9.96-7.803-22.413-12.101-35.069-12.101c-12.223,0-14.959,3.097-22.615,3.097c-9.855,0-18.988-5.336-23.833-13.925
                    c-8.844-15.682-24.796-26.34-42.669-28.511c-12.531-1.522-22.345-11.336-23.867-23.867c-2.17-17.873-12.828-33.824-28.51-42.67
                    c-10.995-6.201-16.305-19.024-12.917-31.183c4.834-17.343,1.091-36.159-10.012-50.332c-7.784-9.936-7.784-23.816,0-33.754
                    c11.102-14.172,14.846-32.988,10.012-50.332c-3.389-12.159,1.922-24.982,12.917-31.183c15.683-8.845,26.341-24.797,28.51-42.669
                    c1.522-12.531,11.336-22.344,23.867-23.867c17.873-2.171,33.824-12.829,42.669-28.51c4.846-8.59,13.979-13.926,23.834-13.926
                    c7.614,0,10.417,3.097,22.615,3.097c12.653,0,25.109-4.298,35.068-12.1c4.863-3.809,10.7-5.823,16.877-5.823
                    c6.177,0,12.014,2.014,16.876,5.822c9.96,7.803,22.413,12.101,35.069,12.101c12.223,0,14.959-3.097,22.615-3.097
                    c9.855,0,18.988,5.336,23.833,13.925c8.844,15.682,24.796,26.34,42.669,28.511c12.531,1.522,22.346,11.336,23.867,23.867
                    c2.17,17.873,12.828,33.824,28.51,42.67c10.995,6.201,16.305,19.024,12.917,31.183c-4.834,17.343-1.091,36.159,10.012,50.332
                    C480.149,249.061,480.149,262.94,472.365,272.877z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M256,76.944c-98.732,0-179.055,80.324-179.055,179.056S157.268,435.057,256,435.057S435.055,354.733,435.055,256
                    S354.732,76.944,256,76.944z M256,401.278c-80.106,0-145.277-65.172-145.277-145.278S175.894,110.722,256,110.722
                    S401.277,175.894,401.277,256S336.106,401.278,256,401.278z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M202.757,163.62c-19.666,0-34.703,8.329-34.703,31.233v32.852c0,22.904,15.037,31.233,34.703,31.233
                    c19.434,0.001,34.703-8.328,34.703-31.233v-32.852C237.46,171.948,222.19,163.62,202.757,163.62z M214.325,227.704
                    c0,7.635-4.396,11.105-11.567,11.105c-7.172,0-11.336-3.47-11.336-11.105v-32.852c0-7.635,4.164-11.105,11.336-11.105
                    c7.171,0,11.567,3.47,11.567,11.105V227.704z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M308.948,238.116c-19.665,0-34.703,8.329-34.703,31.232v32.853c0,22.904,15.038,31.233,34.703,31.233
                    c19.434,0,34.703-8.329,34.703-31.233v-32.853C343.651,246.444,328.381,238.116,308.948,238.116z M320.515,302.2
                    c0,7.635-4.395,11.105-11.567,11.105c-7.171,0-11.336-3.47-11.336-11.105v-32.852c0-7.634,4.165-11.105,11.336-11.105
                    c7.172,0,11.567,3.471,11.567,11.105V302.2z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M295.53,154.135c-4.165,0-7.866,1.851-9.717,5.784l-81.205,166.805c-0.694,1.388-1.156,3.007-1.156,4.396
                    c0,5.784,5.09,12.262,12.956,12.262c4.395,0,8.791-2.314,10.41-5.784l81.436-166.805c0.694-1.388,0.925-3.007,0.925-4.396
                    C309.18,158.993,302.008,154.135,295.53,154.135z"/>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon2" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 440.994 440.994">
        <g>
            <g>
                <path d="M274.61,249.183c-5.044,0-8.816,3.714-10.618,5.929c-4.025,4.951-6.336,12.059-6.336,19.499s2.311,14.548,6.336,19.5
                    c1.802,2.214,5.574,5.928,10.618,5.928s8.816-3.714,10.618-5.928c4.025-4.952,6.336-12.06,6.336-19.5s-2.311-14.548-6.336-19.499
                    C283.428,252.896,279.654,249.183,274.61,249.183z"/>
                <path d="M166.384,191.81c5.044,0,8.816-3.714,10.618-5.928c4.026-4.952,6.336-12.059,6.336-19.5c0-7.441-2.31-14.547-6.336-19.499
                    c-1.802-2.214-5.574-5.928-10.618-5.928c-5.044,0-8.816,3.714-10.618,5.928c-4.026,4.952-6.336,12.058-6.336,19.499
                    c0,7.441,2.31,14.548,6.336,19.5C157.567,188.097,161.34,191.81,166.384,191.81z"/>
                <path d="M435.289,209.037l-53.984-40.794l19.699-64.751c1.312-4.31,0.525-8.984-2.123-12.628
                    c-2.647-3.643-6.854-5.833-11.356-5.916l-67.672-1.235l-22.065-63.997c-1.469-4.262-4.855-7.587-9.143-8.979
                    c-4.283-1.393-8.979-0.692-12.675,1.892l-55.475,38.814L165.02,12.627c-3.693-2.583-8.387-3.285-12.674-1.892
                    c-4.289,1.393-7.672,4.718-9.143,8.979l-22.064,63.996l-67.672,1.236c-4.502,0.083-8.707,2.272-11.355,5.916
                    c-2.648,3.644-3.436,8.319-2.125,12.628l19.701,64.75L5.705,209.037C2.111,211.751,0,215.995,0,220.497
                    c0,4.503,2.111,8.746,5.705,11.461l53.984,40.794L39.99,337.502c-1.311,4.31-0.523,8.984,2.125,12.628
                    c2.648,3.643,6.854,5.833,11.355,5.916l67.672,1.236l22.064,63.996c1.469,4.262,4.854,7.587,9.141,8.979
                    c4.285,1.394,8.98,0.692,12.674-1.893l55.475-38.814l55.477,38.815c2.443,1.709,5.324,2.595,8.236,2.595
                    c1.488,0,2.986-0.23,4.438-0.703c4.286-1.393,7.672-4.718,9.141-8.979l22.063-63.996l67.675-1.237
                    c4.502-0.083,8.707-2.272,11.354-5.916c2.648-3.644,3.437-8.318,2.125-12.628l-19.701-64.749l53.984-40.795
                    c3.594-2.715,5.705-6.958,5.705-11.461S438.883,211.75,435.289,209.037z M166.384,121.01c20.38,0,36.901,20.314,36.901,45.374
                    c0,25.061-16.521,45.375-36.901,45.375c-20.38,0-36.901-20.314-36.901-45.375C129.482,141.324,146.004,121.01,166.384,121.01z
                     M164.038,320.178c-2.307,3.209-6.047,5.125-10.005,5.125c-2.581,0-5.059-0.8-7.163-2.312c-5.509-3.957-6.771-11.658-2.813-17.167
                    l132.9-185.01c2.306-3.209,6.046-5.125,10.005-5.125c2.58,0,5.058,0.8,7.162,2.312c5.509,3.957,6.771,11.658,2.813,17.167
                    L164.038,320.178z M274.61,319.983c-20.38,0-36.901-20.313-36.901-45.375c0-25.059,16.521-45.373,36.901-45.373
                    s36.9,20.314,36.9,45.373C311.512,299.669,294.99,319.983,274.61,319.983z"/>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon3" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512 512">
        <g><g>
                <path d="M168.015,117.138c-32.074,0-56.601,13.585-56.601,50.941v53.583c0,37.357,24.527,50.941,56.601,50.941
			c31.697,0,56.601-13.584,56.601-50.941v-53.583C224.616,130.722,199.712,117.138,168.015,117.138z M186.883,221.662
			c0,12.453-7.169,18.112-18.867,18.112s-18.49-5.661-18.49-18.112v-53.583c0-12.453,6.792-18.112,18.49-18.112
			s18.867,5.661,18.867,18.112V221.662z"/>
            </g></g>
        <g><g>
                <path d="M319.329,101.667c-6.792,0-12.829,3.019-15.848,9.433L171.035,383.164c-1.133,2.264-1.887,4.906-1.887,7.17
			c0,9.433,8.301,19.999,21.132,19.999c7.17,0,14.339-3.773,16.979-9.434l132.824-272.063c1.131-2.264,1.509-4.906,1.509-7.17
			C341.592,109.592,329.894,101.667,319.329,101.667z"/>
            </g></g>
        <g><g>
                <path d="M341.214,238.643c-32.073,0-56.6,13.584-56.6,50.941v53.583c0,37.357,24.527,50.941,56.6,50.941
			c31.697,0,56.601-13.584,56.601-50.941v-53.583C397.816,252.227,372.912,238.643,341.214,238.643z M360.082,343.166
			c0,12.453-7.17,18.112-18.868,18.112s-18.489-5.661-18.489-18.112v-53.583c0-12.453,6.792-18.112,18.489-18.112
			c11.698,0,18.868,5.661,18.868,18.112V343.166z"/>
            </g></g>
        <g><g>
                <path d="M256,0C114.509,0,0,114.497,0,256c0,141.49,114.497,256,256,256c141.489,0,256-114.497,256-256
		    	C512,114.512,397.503,0,256,0z M256,478.657c-122.773,0-222.657-99.883-222.657-222.657S133.227,33.343,256,33.343
			S478.657,133.227,478.657,256S378.773,478.657,256,478.657z"/>
            </g></g>
    </svg>
</div>
<div id="wdDiscountIcon4" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 330.001 330.001">
        <g id="XMLID_789_">
            <path id="XMLID_790_" d="M292.28,330.001c8.284,0,15-6.716,15-15v-300c0-6.067-3.654-11.537-9.26-13.858
                c-5.607-2.323-12.057-1.039-16.347,3.251l-31.82,31.82l-31.82-31.82c-5.857-5.858-15.355-5.858-21.213,0l-31.819,31.819
                L133.181,4.395c-5.858-5.858-15.354-5.857-21.213,0l-31.82,31.82L48.329,4.394c-4.291-4.29-10.743-5.574-16.348-3.251
                c-5.604,2.321-9.26,7.791-9.26,13.858v300c0,8.284,6.717,15,15,15H292.28z M213.341,186.921c6.868,0,12.431,1.707,16.532,5.072
                c3.254,2.67,7.133,7.787,7.132,17.01v24.111c0,14.033-8.625,22.082-23.663,22.082c-15.043,0-23.67-8.049-23.67-22.082v-24.111
                C189.672,195.176,198.52,186.921,213.341,186.921z M188.6,128.9c1.219-2.606,3.743-4.158,6.777-4.158
                c4.074,0,8.435,3.331,8.435,8.288c0,1.386-0.292,2.644-0.893,3.846l-60.137,117.568c-1.412,2.836-4.172,4.553-7.36,4.557h-0.009
                c-4.402-0.004-8.122-3.652-8.122-7.967c0-1.244,0.3-2.482,0.892-3.679L188.6,128.9z M92.996,152.855
                c0-14.032,8.624-22.079,23.66-22.079c15.047,0,23.673,8.047,23.673,22.079v24.106c0,14.037-8.627,22.088-23.67,22.088
                c-15.037,0-23.662-8.05-23.663-22.086V152.855z"/>
            <path id="XMLID_795_" d="M213.341,240.054c6.816,0,7.734-3.508,7.734-6.939v-24.109c0-3.436-0.919-6.947-7.733-6.947
                c-1.841,0-4.348,0.283-5.832,1.636c-1.158,1.055-1.746,2.841-1.745,5.309v24.113c-0.001,2.467,0.587,4.252,1.743,5.304
                C208.993,239.771,211.5,240.054,213.341,240.054z"/>
            <path id="XMLID_796_" d="M116.661,183.907c6.819-0.002,7.739-3.512,7.739-6.945v-24.107c-0.001-3.434-0.921-6.945-7.74-6.945
                c-6.661,0-7.579,3.338-7.579,6.945v24.106C109.081,180.567,109.999,183.905,116.661,183.907z"/>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon5" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512 512">
        <g>
            <g>
                <path d="M480.983,88.645h-0.933c-11.6,0-431.329,0-448.1,0C14.333,88.645,0,102.978,0,120.595v270.809
                    c0,17.617,14.333,31.95,31.95,31.95c17.185,0,436.934,0,448.1,0h0.933c17.103,0,31.017-13.915,31.017-31.017v-0.933V120.595
                    v-0.933C512,102.56,498.085,88.645,480.983,88.645z M304.09,184.698l11.544,11.544l-11.544,11.545
                    c-10.228,10.228-10.229,26.871,0,37.102l11.544,11.544l-11.544,11.544c-10.228,10.228-10.229,26.871,0,37.102l11.544,11.544
                    L304.09,328.17c-10.228,10.228-10.229,26.871,0,37.102l11.544,11.544c-12.642,12.64-12.025,11.968-13.132,13.292H33.247V121.892
                    h268.565c1.46,1.908,1.215,1.552,13.823,14.16l-11.545,11.545C293.861,157.826,293.861,174.471,304.09,184.698z M478.753,390.109
                    H348.172c5.904-10.052,4.547-23.224-4.07-31.844l-11.544-11.544l11.544-11.544c10.228-10.228,10.229-26.872,0-37.102
                    l-11.544-11.544l11.544-11.544c10.228-10.228,10.229-26.872,0-37.102l-11.544-11.544l11.544-11.544
                    c4.955-4.955,7.684-11.543,7.684-18.552c0-7.007-2.728-13.596-7.684-18.551l-11.544-11.544l11.545-11.545
                    c8.867-8.869,10.046-22.559,3.537-32.71h131.113V390.109z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M205.034,244.048c-18.932,0-33.409,8.018-33.409,30.067v31.628c0,22.049,14.477,30.067,33.409,30.067
                    c18.709,0,33.409-8.018,33.409-30.067v-31.628C238.442,252.066,223.743,244.048,205.034,244.048z M205.034,316.433
                    c-6.904,0-10.914-3.341-10.914-10.69v-31.628c0-7.35,4.008-10.69,10.914-10.69c6.904,0,11.137,3.341,11.137,10.69v31.628h0
                    C216.17,313.093,211.938,316.433,205.034,316.433z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M192.115,163.2c-4.008,0-7.573,1.781-9.354,5.568l-78.175,160.584c-0.668,1.336-1.114,2.895-1.114,4.231
                    c0,5.568,4.899,11.804,12.472,11.804c4.232,0,8.464-2.228,10.023-5.568l78.399-160.584c0.668-1.335,0.89-2.895,0.89-4.231
                    C205.255,167.877,198.351,163.2,192.115,163.2z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M102.803,172.332c-18.932,0-33.409,8.018-33.409,30.067v31.627c0,22.049,14.477,30.068,33.409,30.068
                    c18.709,0,33.409-8.019,33.409-30.068v-31.627C136.212,180.35,121.512,172.332,102.803,172.332z M113.94,234.026
                    c0,7.35-4.231,10.691-11.137,10.691c-6.904,0-10.914-3.341-10.914-10.691v-31.627c0-7.35,4.01-10.69,10.914-10.69
                    s11.137,3.341,11.137,10.69V234.026z"/>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon6" style="display:none">
    <svg  height="100%" width="100%" viewBox="0 0 24 24">
        <path d="M21 5H3a1 1 0 0 0-1 1v4h.893c.996 0 1.92.681 2.08 1.664A2.001 2.001 0 0 1 3 14H2v4a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-4h-1a2.001 2.001 0 0 1-1.973-2.336c.16-.983 1.084-1.664 2.08-1.664H22V6a1 1 0 0 0-1-1zM9 9a1 1 0 1 1 0 2 1 1 0 1 1 0-2zm-.8 6.4 6-8 1.6 1.2-6 8-1.6-1.2zM15 15a1 1 0 1 1 0-2 1 1 0 1 1 0 2z"/>
    </svg>
</div>
<div id="wdDiscountIcon7" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 376.079 376.079">
        <g>
            <g>
                <g>
                    <path d="M306.401,126.975c0-5.918-3.551-14.053-7.891-18.076L195.93,3.015c-4.34-4.02-11.441-4.02-15.78,0.001L77.568,108.899
                        c-4.34,4.021-7.889,12.156-7.889,18.075l-0.001,238.344c0,5.916,4.843,10.758,10.76,10.76l215.203,0.001
                        c5.918-0.002,10.76-4.844,10.76-10.763V126.975z M188.413,44.909c12.927,0,23.41,10.479,23.41,23.408
                        c0,12.93-10.48,23.409-23.41,23.409s-23.409-10.479-23.409-23.409C165.004,55.389,175.484,44.909,188.413,44.909z
                         M271.428,352.565l-166.78-0.001c-5.917,0.001-10.76-4.843-10.76-10.761l-0.001-194.123c0-5.919,4.842-10.761,10.761-10.761
                        l166.782,0.001c5.918,0,10.76,4.842,10.76,10.759v194.123C282.19,347.723,277.348,352.565,271.428,352.565z"/>
                </g>
                <g>
                    <path d="M180.37,234.079c4.496-4.876,6.973-11.417,6.973-18.418c0-13.332-9.524-26.829-27.728-26.829
                        c-8.47,0-15.617,2.91-20.668,8.415c-4.473,4.876-6.936,11.415-6.936,18.414c0,13.332,9.482,26.828,27.604,26.828
                        C168.12,242.489,175.297,239.581,180.37,234.079z M159.615,201.307c9.975,0,14.517,7.445,14.517,14.363
                        c0,3.763-1.267,7.247-3.567,9.808c-2.569,2.86-6.3,4.373-10.787,4.373c-10.227,0-14.885-7.443-14.885-14.36
                        C144.893,208.43,149.445,201.307,159.615,201.307z"/>
                    <g>
                        <path d="M225.821,199.182c-1.65,0.03-3.902,1.06-5.007,2.285l-82.535,91.765c-1.104,1.228-0.656,2.23,0.994,2.23h11.697
                            c1.65,0,3.9-1.006,5.001-2.235l82.432-92.075c1.102-1.229,0.65-2.212-0.998-2.182L225.821,199.182z"/>
                    </g>
                    <path d="M216.87,252.732c-8.31,0-15.32,2.855-20.274,8.256c-4.388,4.782-6.806,11.197-6.806,18.062
                        c0,13.078,9.301,26.318,27.08,26.318c8.344,0,15.383-2.854,20.359-8.25c4.41-4.784,6.84-11.2,6.84-18.068
                        C244.067,265.974,234.726,252.732,216.87,252.732z M217.03,293.292c-9.951,0-14.482-7.47-14.482-14.41
                        c0-3.778,1.266-7.275,3.563-9.846c2.563-2.87,6.283-4.387,10.757-4.387c9.949,0,14.48,7.471,14.48,14.411
                        c0,3.777-1.266,7.275-3.562,9.847C225.223,291.775,221.502,293.292,217.03,293.292z"/>
                </g>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon8" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512 512">
        <g>
            <g>
                <path d="M322.782,233.739c-9.206,0-16.696,7.49-16.696,16.696c0,9.206,7.49,16.696,16.696,16.696
                    c9.206,0,16.696-7.49,16.696-16.696C339.478,241.229,331.988,233.739,322.782,233.739z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M505.641,323.25c-2.217-6.913-8.642-11.598-15.902-11.598h-50.087V16.696C439.652,7.479,432.173,0,422.956,0H89.043
                    c-9.217,0-16.696,7.479-16.696,16.696v294.956H22.261c-7.26,0-13.685,4.685-15.902,11.598c-2.206,6.913,0.294,14.467,6.195,18.685
                    l233.739,166.956c2.902,2.076,6.304,3.109,9.707,3.109c3.403,0,6.804-1.033,9.707-3.109l233.739-166.956
                    C505.348,337.717,507.848,330.163,505.641,323.25z M139.13,116.87c0-27.619,22.468-50.087,50.087-50.087
                    c27.619,0,50.087,22.468,50.087,50.087c0,27.619-22.468,50.087-50.087,50.087C161.598,166.957,139.13,144.489,139.13,116.87z
                     M196.967,266.305c-3.261,3.261-7.533,4.892-11.804,4.892s-8.544-1.631-11.804-4.892c-6.521-6.521-6.521-17.087,0-23.609
                    l141.661-141.674c6.521-6.521,17.087-6.521,23.609,0c6.521,6.521,6.521,17.087,0,23.609L196.967,266.305z M322.782,300.522
                    c-27.619,0-50.087-22.468-50.087-50.087c0-27.619,22.468-50.087,50.087-50.087c27.619,0,50.087,22.468,50.087,50.087
                    C372.869,278.054,350.401,300.522,322.782,300.522z"/>
            </g>
        </g>
        <g>
            <g>
                <path d="M189.217,100.174c-9.206,0-16.696,7.49-16.696,16.696s7.49,16.696,16.696,16.696s16.696-7.49,16.696-16.696
                    S198.423,100.174,189.217,100.174z"/>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon9" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 52 65">
        <g>
            <g>
                <g>
                    <path d="M26,50.4140625l-5.1591797-5.1591797l-7.0478516,1.8876953l-1.8886719-7.0478516l-7.0473633-1.8876953     l1.8881836-7.0478516L1.5859375,26l5.1591797-5.1591797l-1.8881836-7.0478516l7.0473633-1.8886719l1.8886719-7.0478516     l7.0478516,1.8886719L26,1.5859375l5.159174,5.1591797l7.0478573-1.8886719l1.8881836,7.0478516l7.0478516,1.8886719     l-1.8881836,7.0478516L50.4140625,26l-5.1591797,5.1591797l1.8881836,7.0478516l-7.0478516,1.8876953l-1.8881836,7.0478516     l-7.0478573-1.8876953L26,50.4140625z M21.4384766,43.0244141L26,47.5859375l4.5615234-4.5615234l6.2314453,1.6689453     l1.6694336-6.2314453l6.2314453-1.6689453l-1.6694336-6.2314453L47.5859375,26l-4.5615234-4.5615234l1.6694336-6.2314453     l-6.2314453-1.6699219l-1.6694336-6.2314453l-6.2314453,1.6699219L26,4.4140625l-4.5615234,4.5615234l-6.2314453-1.6699219     l-1.6699219,6.2314453l-6.230957,1.6699219l1.6694336,6.2314453L4.4140625,26l4.5615234,4.5615234l-1.6694336,6.2314453     l6.230957,1.6689453l1.6699219,6.2314453L21.4384766,43.0244141z"/>
                </g>
            </g>
            <g>
                <g>
                    <g><path d="M25.2570763,39.9996567v-2.4654961c-3.0853043-0.3160896-5.8545208-1.5419655-8.309021-3.6831245l2.4654961-2.9382553      c1.8924122,1.6436615,3.8397961,2.6249123,5.8435249,2.9382553v-6.5526657      c-2.5452042-0.6074409-4.4073811-1.4045353-5.5892792-2.3967819c-1.1819-0.9894962-1.7742233-2.4599972-1.7742233-4.4087563      c0-1.9460087,0.681654-3.5401974,2.0435848-4.7770681c1.3619328-1.2396193,3.1361542-1.9157753,5.3199177-2.0284672v-1.6876411      h2.1617756v1.7233725c2.47649,0.1786594,4.8182964,1.0252285,7.025423,2.5314617l-2.1961327,3.1086674      c-1.4856167-1.0582104-3.0962982-1.7123775-4.8292904-1.9597511v6.349268h0.1016979      c2.5891819,0.6074409,4.4912148,1.4320202,5.7074699,2.4654942c1.2162552,1.0362244,1.8236961,2.5397091,1.8236961,4.5104561      s-0.698143,3.5731792-2.0944328,4.8127995c-1.3962898,1.2368698-3.2419758,1.9130287-5.5384312,2.0257187v2.4325142H25.2570763z       M22.8754139,18.1977501c-0.5730839,0.505743-0.8603115,1.1379223-0.8603115,1.8910389      c0,0.7558651,0.2240105,1.3495636,0.6747818,1.7893391c0.4507694,0.4397755,1.305584,0.86306,2.5671921,1.2671051v-5.8435268      C24.2442169,17.3924103,23.4498711,17.692009,22.8754139,18.1977501z M29.9860458,33.0072136      c0.6294289-0.5167351,0.9455185-1.1709042,0.9455185-1.959753c0-0.7860985-0.2487488-1.4127808-0.7434978-1.8745461      c-0.4947472-0.4590149-1.4182777-0.8932953-2.7692146-1.300087v6.0799046      C28.499052,33.8400383,29.3552418,33.5266991,29.9860458,33.0072136z"/></g>
                </g>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon10" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512.001 512.001">
        <g>
            <g>
                <path d="M404.431,322.838c-1.794-3.658-5.513-5.977-9.588-5.977h-37.666v-6.506c0-12.324-9.991-22.316-22.316-22.316H177.14
                    c-12.324,0-22.315,9.991-22.315,22.316v6.506h-37.667c-4.075,0-7.794,2.319-9.588,5.977s-1.35,8.018,1.144,11.239l131.964,170.41
                    c3.67,4.74,9.327,7.514,15.322,7.514s11.651-2.775,15.322-7.514l131.965-170.41C405.781,330.856,406.224,326.496,404.431,322.838z
                    "/>
            </g>
        </g>
        <g>
            <g>
                <path d="M271.709,106.879V59.593c21.052,1.619,27.206,11.984,37.893,11.984c14.251,0,20.081-17.814,20.081-26.559
                    c0-22.348-37.894-27.529-57.973-28.178V8.745C271.71,4.21,265.556,0,259.403,0c-7.126,0-12.307,4.21-12.307,8.745v9.068
                    c-34.33,4.858-64.775,24.615-64.775,65.747c0,41.456,34.977,55.382,64.775,66.719v52.468c-23.968-4.21-34.98-23.319-48.583-23.319
                    c-12.307,0-22.024,16.194-22.024,27.206c0,20.729,31.741,40.809,70.606,42.104v8.096c0,4.535,5.182,8.745,12.307,8.745
                    c6.154,0,12.307-4.21,12.307-8.745v-9.393c37.893-6.154,63.803-30.444,63.803-70.605
                    C335.513,133.112,301.181,117.889,271.709,106.879z M250.333,99.107c-12.309-5.182-20.729-11.012-20.729-20.404
                    c0-7.773,6.154-15.222,20.729-18.138V99.107z M268.471,202.425v-43.401c11.659,5.505,19.757,12.307,19.757,22.996
                    C288.228,193.68,279.482,199.834,268.471,202.425z"/>
            </g>
        </g>
    </svg>
</div>
<div id="wdDiscountIcon11" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 100 125">
        <path d="M74.1213,75.08267a11.277,11.277,0,0,0-6.35854,3.56526L56.66256,63.22361,49.75,53.61859,31.96064,28.90893l-.29829,2.32632a21.82945,21.82945,0,0,0,3.04084,14.22443L46.71062,65.05779,54.071,77.06387l.00889.01961s7.62656-.77408,11.38027,5.51258a11.30119,11.30119,0,1,0,8.66111-7.51338Zm3.34011,18.12288a7.12647,7.12647,0,1,1,5.71978-8.298A7.13414,7.13414,0,0,1,77.46141,93.20555Z"/><path d="M43.98224,67.68842l-1.858-3.0326L32.0547,78.64794a11.32438,11.32438,0,1,0,2.30256,3.94812c3.75371-6.28665,11.38028-5.51258,11.38028-5.51258l.00889-.0196,1.99181-3.249Zm-13.324,19.8034a7.12906,7.12906,0,1,1-5.71884-8.30315A7.1341,7.1341,0,0,1,30.65824,87.49182Z"/><path d="M45.374,40.4302l4.74915-2.46109c1.34809,3.34813,4.87018,4.82639,8.56645,4.82639,3.60918,0,7.00072-1.26054,7.00072-4.56546,0-2.8696-3.00053-4.04441-7.04452-4.47875-6.21786-.73945-11.95761-2.39193-11.95761-9.21839,0-5.30013,4.42451-7.94415,9.18448-8.66018V10.272h5.076v5.52669c3.89467.43785,7.57825,2.02941,9.4813,5.908l-4.5658,2.34767c-1.04341-1.73915-3.91348-3.3915-7.21836-3.3915-4.26107,0-6.305,1.78248-6.305,4.04348,0,2.6529,3.13112,3.39247,6.78363,3.82682,6.34828.78287,12.2623,2.4353,12.2623,9.697,0,5.987-4.67631,8.95594-10.438,9.57131v5.51578h-5.076V47.78181a13.55678,13.55678,0,0,1-7.084-2.60792L60.19948,61.026a29.29188,29.29188,0,1,0-28.9776-40.25618Z"/>
    </svg>
</div>
<div id="wdDiscountIcon12" style="display:none">
    <svg height="100%" width="100%" viewBox="0 0 512 512">
        <g>
            <g>
                <g>
                    <path d="M443.862,223.763l24.713-61.895c1.907-4.778,0.134-10.235-4.217-12.978L407.98,113.34l-16.385-64.597
                        c-1.265-4.986-5.913-8.352-11.04-8.021l-66.505,4.374L262.822,2.468c-3.954-3.292-9.692-3.29-13.646,0l-51.229,42.629
                        l-66.501-4.374c-5.133-0.334-9.774,3.036-11.039,8.021l-16.391,64.597L47.642,148.89c-4.351,2.743-6.124,8.202-4.217,12.978
                        l24.712,61.895l-24.712,61.896c-1.907,4.778-0.134,10.235,4.217,12.978l56.375,35.549l16.391,64.597
                        c1.264,4.986,5.925,8.365,11.039,8.021l66.501-4.375l51.229,42.629c1.977,1.645,4.4,2.467,6.822,2.467
                        c2.423,0,4.846-0.822,6.824-2.467l51.227-42.629l66.505,4.375c5.121,0.338,9.775-3.037,11.04-8.021l16.385-64.597l56.378-35.549
                        c4.351-2.743,6.124-8.201,4.217-12.978L443.862,223.763z M392.998,318.412c-2.313,1.458-3.978,3.75-4.65,6.4l-15.25,60.121
                        l-61.897-4.071c-2.735-0.18-5.421,0.697-7.523,2.445L256,422.98l-47.68-39.674c-1.922-1.599-4.337-2.467-6.822-2.467
                        c-0.233,0-0.467,0.007-0.7,0.022l-61.893,4.071l-15.256-60.121c-0.672-2.651-2.336-4.942-4.649-6.4l-52.469-33.086l23-57.608
                        c1.013-2.54,1.013-5.371,0-7.91l-23-57.607L119,129.113c2.313-1.458,3.977-3.749,4.649-6.4l15.253-60.121l61.893,4.07
                        c2.737,0.188,5.421-0.697,7.523-2.445l47.68-39.674l47.678,39.674c2.102,1.748,4.787,2.633,7.523,2.445l61.897-4.07l15.25,60.121
                        c0.673,2.65,2.337,4.942,4.65,6.4l52.471,33.087l-23.001,57.607c-1.013,2.54-1.013,5.371,0,7.91l23.001,57.608L392.998,318.412z"
                    />
                    <path d="M157.642,118.626c0.889,0.228,1.779,0.336,2.655,0.336c4.755,0,9.09-3.202,10.325-8.021l0.883-3.445l43.489,2.858
                        c2.725,0.176,5.42-0.697,7.522-2.445L256,80.047l33.482,27.86c2.102,1.748,4.786,2.621,7.522,2.445l52.324-3.438
                        c5.88-0.386,10.332-5.465,9.945-11.343c-0.386-5.878-5.451-10.336-11.343-9.945l-48.074,3.158l-37.032-30.814
                        c-3.954-3.292-9.692-3.29-13.646,0l-37.033,30.814l-48.074-3.158c-5.109-0.332-9.756,3.023-11.032,7.996l-3.082,12.023
                        C148.495,111.352,151.934,117.163,157.642,118.626z"/>
                    <path d="M149.662,150.119c0.889,0.228,1.779,0.336,2.655,0.336c4.755,0,9.09-3.202,10.325-8.021l0.996-3.886
                        c1.462-5.707-1.978-11.518-7.684-12.98c-5.711-1.468-11.518,1.978-12.98,7.684l-0.996,3.886
                        C140.515,142.845,143.955,148.657,149.662,150.119z"/>
                    <path d="M362.344,297.408c-5.71-1.469-11.52,1.972-12.986,7.677l-0.998,3.885c-1.466,5.707,1.972,11.52,7.677,12.986
                        c0.891,0.229,1.784,0.337,2.661,0.337c4.752,0,9.086-3.199,10.324-8.015l0.997-3.885
                        C371.487,304.687,368.05,298.874,362.344,297.408z"/>
                    <path d="M354.356,328.894c-5.705-1.461-11.518,1.98-12.98,7.686l-0.883,3.449l-43.488-2.862
                        c-2.736-0.178-5.421,0.697-7.523,2.445l-33.482,27.859l-33.483-27.859c-2.102-1.748-4.797-2.623-7.523-2.445l-52.324,3.443
                        c-5.88,0.386-10.331,5.466-9.944,11.344c0.387,5.88,5.489,10.333,11.344,9.944l48.074-3.164l37.032,30.813
                        c1.977,1.646,4.4,2.468,6.822,2.468c2.424,0,4.846-0.823,6.824-2.468l37.031-30.813l48.074,3.164
                        c5.12,0.335,9.759-3.023,11.034-7.997l3.082-12.027C363.504,336.169,360.063,330.357,354.356,328.894z"/>
                    <path d="M362.667,490.666H149.333c-5.89,0-10.667,4.777-10.667,10.667S143.443,512,149.333,512h213.334
                        c5.891,0,10.667-4.777,10.667-10.667S368.558,490.666,362.667,490.666z"/>
                    <path d="M373.219,170.781h-44.124c-10.605,0-15.912,5.503-15.912,16.51v85.1c0,3.004,1.302,4.501,3.904,4.501h12.606
                        c2.801,0,4.203-1.497,4.203-4.501v-37.673h33.168c2.802,0,4.204-1.202,4.204-3.603v-10.504c0-2.704-1.403-4.054-4.204-4.054
                        h-33.168v-22.062c0-3.806,1.602-5.708,4.803-5.708h34.519c2.802,0,4.204-1.15,4.204-3.45v-10.509
                        C377.424,172.129,376.021,170.781,373.219,170.781z"/>
                    <path d="M264.28,188.788h34.521c2.801,0,4.203-1.15,4.203-3.45V174.83c0-2.7-1.403-4.049-4.203-4.049h-44.126
                        c-10.605,0-15.911,5.503-15.911,16.51v85.1c0,3,1.302,4.501,3.904,4.501h12.606c2.801,0,4.203-1.497,4.203-4.501v-37.673h33.168
                        c2.802,0,4.204-1.202,4.204-3.603v-10.504c0-2.704-1.403-4.054-4.204-4.054h-33.168v-22.062
                        C259.478,190.689,261.079,188.788,264.28,188.788z"/>
                    <path d="M179.605,278.693c8.203,0,15.058-0.85,20.561-2.553c5.503-1.701,10.256-4.626,14.258-8.78
                        c4.003-4.149,6.906-9.852,8.704-17.109c1.801-7.252,2.702-16.333,2.702-27.24c0-9.205-0.623-17.009-1.875-23.416
                        c-1.25-6.402-2.978-11.606-5.178-15.608c-2.202-4.002-5.254-7.132-9.156-9.385c-3.902-2.247-8.056-3.775-12.459-4.573
                        c-4.401-0.804-9.854-1.202-16.359-1.202c-7.105,0-13.258,0.75-18.462,2.252c-5.204,1.501-10.008,4.154-14.409,7.955
                        c-4.402,3.802-7.729,9.379-9.982,16.732c-2.25,7.356-3.377,16.484-3.377,27.392c0,10.908,0.875,19.986,2.627,27.244
                        c1.75,7.252,4.579,12.956,8.479,17.109c3.902,4.154,8.531,7.053,13.883,8.706C164.919,277.869,171.598,278.693,179.605,278.693z
                         M155.888,223.159c0-9.904,1.003-17.634,3.001-23.185c2.003-5.556,4.653-9.259,7.956-11.107c3.3-1.853,7.755-2.778,13.357-2.778
                        c6.204,0,10.932,0.899,14.185,2.7c3.252,1.801,5.702,5.377,7.355,10.734c1.651,5.353,2.476,13.281,2.476,23.79
                        c0,8.104-0.525,14.731-1.577,19.886c-1.05,5.152-2.702,9.028-4.953,11.632c-2.252,2.601-4.73,4.353-7.43,5.252
                        c-2.702,0.902-6.154,1.35-10.356,1.35s-7.68-0.474-10.432-1.424c-2.751-0.951-5.201-2.779-7.353-5.478
                        c-2.153-2.703-3.728-6.605-4.729-11.706C156.389,237.721,155.888,231.166,155.888,223.159z"/>
                </g>
            </g>
        </g>
    </svg>
</div>
{% assign shops_configuration_theme_config = shop.metafields.singleton_discounts.shops_configuration_theme_config.value %}
{% assign script_is_local = shops_configuration_theme_config.script.is_local | plus: 0 %}
{% if script_is_local == 1 %}
    <script src='{{ shops_configuration_theme_config.script.name }}' defer></script>
{% else %}
    <script src='{{ shops_configuration_theme_config.script.name | asset_url }}' defer></script>
{% endif %}
