<div class="whatsapp-button whatsapp-button--{{ settings.whatsapp_icon_position }}">
  <a href="{{ settings.whatsapp_number_url }}" target="_blank">
    {% comment %}
      <i class="fa-brands fa-whatsapp fa-4x" style="color: #63E6BE;"></i>
    {% endcomment %}
    <div class="whatsapp-content">
      <div class="whatsapp-icon">
        <i
          class="fa-brands fa-whatsapp fa-{{ settings.whatsapp_icon_size }}"
          style="color: {{ settings.whatsapp_icon_color }};"
        ></i>
        {% comment %}
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="#ffffff">
            <path d="M16 0C7.163 0 0 7.163 0 16c0 2.85.744 5.529 2.053 7.874L.154 30.724a1.132 1.132 0 001.402 1.402l6.85-1.899A15.87 15.87 0 0016 32c8.837 0 16-7.163 16-16S24.837 0 16 0zm8.285 22.228c-.363 1.003-2.113 1.945-2.902 2.063-.789.118-1.821.173-2.925-.185-.693-.219-1.586-.518-2.733-1.01-4.785-2.069-7.894-6.926-8.134-7.252-.236-.328-1.937-2.576-1.937-4.911 0-2.335 1.224-3.482 1.655-3.978.43-.494.942-.621 1.257-.621s.628.004.906.016c.293.013.683-.111 1.067.832.384.942 1.308 3.073 1.424 3.296.118.222.192.481.04.777-.149.297-.225.481-.45.736-.223.254-.472.569-.673.761-.224.217-.456.452-.196.889.261.437 1.162 1.914 2.486 3.1 1.71 1.53 3.088 2.004 3.523 2.235.436.231.69.194.947-.118.261-.318 1.085-1.267 1.376-1.702.291-.435.582-.361.967-.217.387.145 2.44 1.148 2.86 1.356.42.208.698.314.803.49.105.177.105 1.019-.259 2.02z"></path>
          </svg>
        {% endcomment %}
      </div>
      {% if settings.whatsapp_icon_label != blank %}
          <div class="whatsapp-text">{{ settings.whatsapp_icon_label }}</div>
      {% endif %}
    </div>
  </a>
</div>

<style>
    .whatsapp-button {
      position: fixed;
      bottom: {{ settings.whatsapp_bottom_margin }}px;
      z-index: 1000;
      text-decoration: none;
    }
    .whatsapp-button--right {
      right: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sağ boşluk */
    }
    .whatsapp-button--left {
      left: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sol boşluk */
    }

    .whatsapp-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }

    .whatsapp-icon {
      /*background-color: #25d366;
      border-radius: 50%;
      padding: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 50px;
      height: 50px;*/
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
    }

    /*.whatsapp-icon svg {
      width: 24px;
      height: 24px;
    }
  */
    .whatsapp-button:hover .whatsapp-icon {
      transform: scale(1.1);
    }

    .whatsapp-text {
      font-size: 14px;
      /*color: #25d366;*/
      color: {{ settings.whatsapp_icon_color }};
      font-weight: bold;
      background: white;
      padding: 5px 10px;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
      @media (max-width: 424px) {


        .whatsapp-button {
          bottom: {{ settings.whatsapp_bottom_margin }}px; /* Mobilde butonun altı daha yakın */
        }
        .whatsapp-button--right {
          right: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sağ boşluk */
        }
        .whatsapp-button--left {
          left: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sol boşluk */
        }


      /* .whatsapp-icon {
        padding: 10px;  Mobilde buton ikonu biraz daha küçük
        width: 40px;
        height: 40px;
      }*/

      .whatsapp-text {
        display: none;
        font-size: 12px; /* Mobilde yazı boyutu küçülür */
        padding: 4px 8px; /* Mobilde padding küçülür */
      }
    }

    /* Tablet Cihazlar İçin Stil (768px - 1024px arası) */
    @media (min-width: 424px) and (max-width: 1024px) {

        .whatsapp-button {
          bottom: {{ settings.whatsapp_bottom_margin }}px; /* Tablet için alt boşluk */
        }
        .whatsapp-button--right {
          right: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sağ boşluk */
        }
        .whatsapp-button--left {
          left: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sol boşluk */
        }

      /*.whatsapp-icon {
        padding: 12px;
        width: 45px;
        height: 45px;
      }*/

      .whatsapp-text {
        font-size: 13px;
        padding: 5px 9px;
      }
    }

    /* Masaüstü Cihazlar İçin Stil */
    @media (min-width: 1024px) {

        .whatsapp-button {
          bottom: {{ settings.whatsapp_bottom_margin }}px; /* Masaüstü için alt boşluk */
        }
       .whatsapp-button--right {
          right: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sağ boşluk */
        }
        .whatsapp-button--left {
          left: {{ settings.whatsapp_left_or_right_margin }}px; /* Masaüstü için varsayılan sol boşluk */
        }
     /* .whatsapp-icon {
        padding: 12px;
        width: 50px;
        height: 50px;
      }*/

      .whatsapp-text {
        font-size: 14px;
        padding: 5px 10px;
      }
    }
</style>
